@charset "UTF-8";
/* *::after
*::before */
/* se ve */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  width: 100%; }

body {
  background-color: rgba(209, 135, 135, 0.322);
  font-family: cursive; }

/* menu navegación */
.menu__flex {
  display: flex;
  justify-content: space-evenly;
  height: 5rem;
  list-style: none;
  text-align: center; }

.menu__ul {
  display: inline-flex;
  list-style: none;
  text-align: center;
  align-items: center; }

.menu__li a {
  text-decoration: none;
  margin: 1rem;
  padding: 0.5rem;
  border: 0.5px coral solid;
  color: fuchsia;
  font-size: 2rem;
  background-color: #cab4a1;
  font-family: "Brush Script MT"; }

.menu__li::after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px; }

.menu__li::before {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid solid #70360d; }

.menu__li:hover::before {
  content: " ";
  display: block;
  width: 100%;
  height: 27px;
  background-color: #70360d;
  border-bottom: 2px solid #70360d;
  transition: all 3s; }

a:hover {
  background-color: #70360d; }

/* pag index */
/* titulo h1 */
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .logo__h1 {
    font-family: "Brush Script MT";
    font-style: oblique;
    font-size: 9rem;
    text-align: center;
    color: fuchsia;
    background-color: darksalmon;
    margin: 1rem;
    width: 50%;
    height: 175px; }
  .logo__img {
    width: 10%;
    height: 175px;
    margin: -50px; }

/* titulo h2 */
.titu {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3rem;
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  color: indianred;
  text-decoration: underline; }

.carrusel-index {
  width: 50%;
  height: 700px;
  align-items: center;
  margin: 500px;
  margin-top: 90px;
  border: 10px orangered solid; }

/* formulario contacto */
.contacto__net {
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  color: orangered;
  background-color: peru; }

.contacto__botones {
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  color: white;
  background-color: orangered;
  margin-left: 40%; }

.contacto__botones1 {
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  color: white;
  background-color: orangered;
  margin-right: 5px; }

/* promociones */
.animación1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3rem;
  margin: 3rem;
  padding: 1rem;
  text-align: center;
  color: indianred;
  text-decoration: underline;
  animation-name: efectoh2;
  animation-iteration-count: infinite;
  animation-duration: 5s; }

@keyframes efectoh2 {
  0% {
    color: indianred; }
  25% {
    color: mediumvioletred; }
  50% {
    color: maroon;
    transform: rotate(180deg);
    font-size: 8rem; }
  75% {
    color: yellow; }
  100% {
    color: indianred; } }

.promo__jabon {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  margin: 8rem;
  align-items: start; }

.promo__jabon img {
  width: 30%; }

.promo__jabones1 {
  grid-column: 1/2; }

.promo__jabones2 {
  grid-column: 1/2;
  grid-row: 3; }

.promo__jabones3 {
  grid-column: 1/2;
  grid-row: 2; }

.promo__jabon p {
  display: inline-flex;
  font-size: 4rem;
  text-align: justify;
  background-color: peru;
  color: white; }

p:hover {
  background-color: yellowgreen; }

/* productos */
.productos__jabon {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 2fr);
  margin: 0.5rem;
  align-items: center; }

.productos__jab4 {
  grid-column: 1/7; }

.productos__jab5 {
  grid-column: 7/13;
  grid-row: 2; }

.productos__jab6 {
  grid-column: 1/7;
  grid-row: 3; }

.productos__jab7 {
  grid-column: 7/13;
  grid-row: 4; }

.productos__jabon p {
  font-size: 1rem;
  text-align: justify;
  background-color: peru;
  color: white; }

/* ingredientes */
.ingre__jabones {
  display: grid;
  grid-template-columns: repeat(6, 3fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 2rem;
  margin: 4rem;
  align-items: start; }

.ingre__jabones img {
  width: 250px;
  height: 300px; }

.ingre__jabones p {
  font-size: 2rem;
  text-align: justify;
  background-color: peru;
  color: white; }

.ingre__jabon1 {
  grid-column: 1/3;
  grid-row: 1/3;
  width: 100%;
  height: 100%; }

.ingre__jabon2 {
  grid-column: 3/5; }

.ingre__jabon3 {
  grid-column: 5/7; }

/* comienzo del footer */
footer {
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  color: orangered;
  background-color: peru; }

/* Tablet */
@media (max-width: 768px) {
  body {
    background-color: aqua; } }

/* Movil */
@media (max-width: 576px) {
  body {
    background-color: rgba(209, 135, 135, 0.322); }
  img {
    width: 100%;
    height: 100%; }
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .logo__h1 {
      width: 50vw;
      height: 18vw;
      margin-right: 20px;
      padding: initial;
      font-size: 15vw; }
    .logo__img {
      width: 15vw;
      height: 18vw;
      margin-right: 10px; }
  .titu {
    font-size: 6vw; }
  .menu__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    width: 50vw;
    margin: auto; }
  .menu__ul a {
    text-decoration: none;
    margin: 0px;
    padding: 10px;
    border: 0.5px coral solid;
    color: fuchsia;
    font-size: 4vw;
    background-color: #cab4a1;
    font-family: "Brush Script MT"; }
  /* 
   
    .carrusel-index{
        width: 50%;
        height: 5%;
        align-items: center;
        margin: 25vw;
        margin-top: 10vw;
        margin-bottom: 10vw;
        border: 10px orangered solid;
    }

    /* productos */
  .jab1 {
    width: 70vw;
    height: 70vw;
    margin: auto;
    padding: 3vw;
    align-items: center; }
  .jab2 {
    width: 70vw;
    height: 70vw;
    margin: auto;
    padding: 3vw;
    align-items: center; }
  .jab3 {
    width: 70vw;
    height: 70vw;
    margin: auto;
    padding: 3vw;
    align-items: center; }
  /* ingredientes */
  .ingre__jabones {
    display: flex;
    flex-direction: column; }
  footer {
    width: 50vw;
    margin: auto;
    margin-top: 3vw;
    padding: 1vw;
    text-align: center;
    color: orangered;
    background-color: peru; }
  /* Productos */
  .productos__jabon {
    display: flex;
    flex-direction: column; }
  .jab4 {
    width: 70vw;
    height: 70vw;
    margin: auto;
    padding: 3vw;
    align-items: center; }
  .jab5 {
    width: 70vw;
    height: 70vw;
    margin: auto;
    padding: 3vw;
    align-items: center; }
  .jab6 {
    width: 70vw;
    height: 70vw;
    margin: auto;
    padding: 3vw;
    align-items: center; }
  .jab7 {
    width: 70vw;
    height: 70vw;
    margin: auto;
    padding: 3vw;
    align-items: center; }
  .productos__jabon img {
    height: 70%; }
  .productos__jabon p {
    font-size: 3vw; }
  /* promociones */
  .promo__jabon {
    display: flex;
    flex-direction: column;
    width: 300px; }
  @keyframes efectoh2 {
    0% {
      color: indianred; }
    25% {
      color: mediumvioletred; }
    50% {
      color: maroon;
      transform: rotate(180deg);
      font-size: 15vw; }
    75% {
      color: yellow; }
    100% {
      color: indianred; } }
  .promo__jabon p {
    font-size: 20px; }
  .promo__jabon img {
    width: 300px; }
  /* contacto */
  .contacto__botones {
    margin: auto;
    padding: 1vw;
    text-align: center;
    font-size: 7vw;
    color: white;
    background-color: orangered;
    margin-left: 25%; }
  .contacto__botones1 {
    margin: auto;
    padding: 1vw;
    text-align: center;
    font-size: 7vw;
    color: white;
    background-color: orangered; } }
