.menu__flex {
  display: flex;
  justify-content: space-evenly;
  height: 5rem;
  list-style: none;
  text-align: center; }

.menu__ul {
  display: inline-flex;
  list-style: none;
  text-align: center;
  align-items: center; }

.menu__li a {
  text-decoration: none;
  margin: 1rem;
  padding: 0.5rem;
  border: 0.5px coral solid;
  color: fuchsia;
  font-size: 2rem;
  background-color: #cab4a1;
  font-family: "Brush Script MT"; }

.menu__li::after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px; }

.menu__li::before {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid solid #70360d; }

.menu__li:hover::before {
  content: " ";
  display: block;
  width: 100%;
  height: 27px;
  background-color: #70360d;
  border-bottom: 2px solid #70360d;
  transition: all 3s; }

a:hover {
  background-color: #70360d; }

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .logo__h1 {
    font-family: "Brush Script MT";
    font-style: oblique;
    font-size: 9rem;
    text-align: center;
    color: fuchsia;
    background-color: darksalmon;
    margin: 1rem;
    width: 50%;
    height: 175px; }
  .logo__img {
    width: 10%;
    height: 175px;
    margin: -50px; }

.titu {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3rem;
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  color: indianred;
  text-decoration: underline; }

footer {
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  color: orangered;
  background-color: peru; }

.contacto__net {
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  color: orangered;
  background-color: peru; }

.contacto__botones {
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  color: white;
  background-color: orangered;
  margin-left: 40%; }

.contacto__botones1 {
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  color: white;
  background-color: orangered;
  margin-right: 5px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  width: 100%; }

body {
  background-color: rgba(209, 135, 135, 0.322);
  font-family: cursive; }

/* Tablet */
@media (max-width: 768px) {
  body {
    background-color: rgba(209, 135, 135, 0.322); } }

/* Movil */
@media (min-width: 320px) and (max-width: 576px) {
  body {
    background-color: rgba(209, 135, 135, 0.322); }
  img {
    width: 100%;
    height: 100%; }
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .logo__h1 {
      width: 50vw;
      height: 18vw;
      margin-right: 20px;
      padding: initial;
      font-size: 15vw; }
    .logo__img {
      width: 15vw;
      height: 18vw;
      margin-right: 10px; }
  .titu {
    font-size: 6vw; }
  .menu__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    width: 50vw;
    margin: auto; }
  .menu__ul a {
    text-decoration: none;
    margin: 0px;
    padding: 10px;
    border: 0.5px coral solid;
    color: fuchsia;
    font-size: 4vw;
    background-color: #cab4a1;
    font-family: "Brush Script MT"; }
  .carrusel-index {
    width: 50%;
    height: 5%;
    align-items: center;
    margin: 25vw;
    margin-top: 10vw;
    margin-bottom: 10vw;
    border: 10px orangered solid; }
  /* productos */
  .jab1 {
    width: 70vw;
    height: 70vw;
    margin: auto;
    padding: 3vw;
    align-items: center; }
  .jab2 {
    width: 70vw;
    height: 70vw;
    margin: auto;
    padding: 3vw;
    align-items: center; }
  .jab3 {
    width: 70vw;
    height: 70vw;
    margin: auto;
    padding: 3vw;
    align-items: center; }
  /* ingredientes */
  .ingre__jabones {
    display: flex;
    flex-direction: column; }
  footer {
    width: 50vw;
    margin: auto;
    margin-top: 3vw;
    padding: 1vw;
    text-align: center;
    color: orangered;
    background-color: peru; }
  /* Productos */
  .productos__jabon {
    display: flex;
    flex-direction: column; }
  .jab4 {
    width: 70vw;
    height: 70vw;
    margin: auto;
    padding: 3vw;
    align-items: center; }
  .jab5 {
    width: 70vw;
    height: 70vw;
    margin: auto;
    padding: 3vw;
    align-items: center; }
  .jab6 {
    width: 70vw;
    height: 70vw;
    margin: auto;
    padding: 3vw;
    align-items: center; }
  .jab7 {
    width: 70vw;
    height: 70vw;
    margin: auto;
    padding: 3vw;
    align-items: center; }
  .productos__jabon img {
    height: 70%; }
  .productos__jabon p {
    font-size: 3vw; }
  /* promociones */
  .promo__jabon {
    display: flex;
    flex-direction: column;
    width: 300px; }
  @keyframes efectoh2 {
    0% {
      color: indianred; }
    25% {
      color: mediumvioletred; }
    50% {
      color: maroon;
      transform: rotate(180deg);
      font-size: 15vw; }
    75% {
      color: yellow; }
    100% {
      color: indianred; } }
  .promo__jabon p {
    font-size: 20px; }
  .promo__jabon img {
    width: 300px; }
  /* contacto */
  .contacto__botones {
    margin: auto;
    padding: 1vw;
    text-align: center;
    font-size: 7vw;
    color: white;
    background-color: orangered;
    margin-left: 25%; }
  .contacto__botones1 {
    margin: auto;
    padding: 1vw;
    text-align: center;
    font-size: 7vw;
    color: white;
    background-color: orangered; } }
