@each $name, $url in $redes-contacto {
    .img-#{$name} {
        @extend .img-size;
        background-image: #{$url};
    }
}
p {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    font-size: 1.5rem;
    color: $texto-color ;
    background-color: $backgran;
    p:hover {
        background-color: $color-navhome;
        a{
            color: $color-principal;
        }
    }
}