
.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__h1 {
        font-family: $titulo-principal-font-fami;
        font-style: oblique;
        font-size: 9rem;
        text-align: center;
        color: $color-principal;
        background-color: darksalmon;
        margin: 1rem;
        width: 50%;
        height: 175px;
    }

    &__img {
        width: 10%;
        height: 175px;
        margin: -50px;
    }
}
.container__fluid1 {
    .offcanvas-body{
        background-color:$color-navhome;
        .nav-item {
            color: $color-principal;
        }
        .nav-link {
            color: $color-principal;
        }
    }
    .offcanvas-header {
        background-color:$color-navhome;
        .offcanvas-title {
            color: $color-principal;
        }
    }
    
    
    .dropdown-menu {
        background-color: $color-navhome;
        .dropdown-item {
            color: $color-principal;
        }
    }
    
    .btn {
        color: white ;
        background-color: $bordes;
        
    }
} 

