.titu {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    color: indianred;
    text-decoration: underline;
}
