/* Tablet */
@media (min-width: 801px) and (max-width: 991px) {
    /* h1 y logo */

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &__h1 {
            width: 50vw;
            height: 18vw;
            margin-right: 20px;
            padding: initial;
            font-size: 15vw;
        }

        &__img {
            width: 15vw;
            height: 18vw;
            margin-right: 10px;
        }
    }

    /* index */
    .carrusel-index {
        width: 50%;
        height: 5%;
        align-items: center;
        margin: 25vw;
        margin-top: 10vw;
        margin-bottom: 10vw;
        border: $bordes;

    }

    /* ingredientes */
    .ingre__jabones {
        display: flex;
        flex-direction: column;
        margin: 30px;

        img {
            width: 90%;
            height: 90%;
        }

        p {
            width: 83%;
            height: 10%;
            font-size: 3vw;
            background-color: $backgran;
            margin-top: 10px;
        }
    }

    .video {
        margin: 2vw;
        margin-left: 5vw;
        width: 90%;
    }

    footer {
        width: 50vw;
        margin: auto;
        margin-top: 20px;

    }

    /* Productos */
    .productos__jabon {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &__jab4 {
            width: 70vw;
            height: 70vw;
            margin: 10px;
            padding: 3vw;
            align-items: center;
        }

        &__jab5 {
            width: 70vw;
            height: 70vw;
            margin: auto;
            padding: 3vw;
            align-items: center;
        }

        &__jab6 {
            width: 70vw;
            height: 70vw;
            margin: auto;
            padding: 3vw;
            align-items: center;
        }

        &__jab7 {
            width: 30vw;
            height: 30vw;
            margin: auto;
            padding: 3vw;
            align-items: center;
        }

        img {
            height: 50%;
        }

        p {
            font-size: 3vw;
        }
    }

    /* promociones */
    .promo__jabon {
        display: flex;
        flex-direction: column;
        margin: 20%;

        p {
            font-size: 15px;
        }

        img {
            width: 250px;
        }

    }

    .animación1 {
        font-size: 2vw;
        margin: 2vw;
        padding: 1vw;

    }

    @keyframes efectoh2 {
        0% {
            color: indianred;
        }

        25% {
            color: mediumvioletred;
        }

        50% {
            color: maroon;
            transform: rotateX(25deg);
            font-size: 7vw;
        }

        75% {
            color: yellow;
        }

        100% {
            color: indianred;
        }


    }

    /* contacto */
    header {
        margin: 5px;

    }


    .contacto {
        margin: 2%;

        &__net {
            margin: 30px;
            font-size: 4vw;
        }

        &__imput {
            margin: 15px;
            font-size: 3vw;
            text-align: center;
        }

        .container-fluid {
            margin: auto;
            padding: 10px;
        }

        &__botones {
            margin: auto;
            padding: 1vw;
            text-align: center;
            font-size: 5vw;
            color: $texto-color;
            background-color: $backgran;
            margin-left: 25%;
        }

        &__botones1 {
            margin: auto;
            padding: 1vw;
            text-align: center;
            font-size: 5vw;
            color: $texto-color;
            background-color: $backgran;
        }

    }

    .mapa {
        margin: 2vw;
        margin-left: 5vw;
        width: 80%;
        height: 90%;
    }

}

@media (min-width: 577px) and (max-width: 800px) {

    /* h1 y logo */
    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &__h1 {
            width: 20rem;
            height: 8rem;
            margin-right: 10px;
            padding: initial;
            font-size: 6rem;
            background-color: $backgran;
        }

        &__img {
            width: 10rem;
            height: 8rem;
            margin-right: 30px;
        }
    }


    /* h2 */
    .titu {
        font-size: 6vw;
    }

    /* index */
    .carrusel-index {
        width: 50%;
        height: 5%;
        align-items: center;
        margin: 25vw;
        margin-top: 10vw;
        margin-bottom: 10vw;
        border: $bordes;

    }

    .texto__index {
        font-size: 3vw;
    }

    /* ingredientes */
    .ingre__jabones {
        display: flex;
        flex-direction: column;
        margin: 30px;

        img {
            width: 32rem;
            height: 20rem;
        }

        p {
            width: 83%;
            height: 10%;
            font-size: 3vw;
            background-color: $backgran;
            margin-top: 10px;
        }
    }

    .video {
        margin: auto;
        margin-left: 2.5%;
        width: 35rem;
        height: 20rem;
    }

    /* promociones */
    .promo__jabon {
        img {
            width: 200px;
        }

        p {
            font-size: 10px;
        }
    }

    /* contacto */
    .contacto {
        margin: 5%;

        &__net {
            font-size: 7vw;
        }

        &__imput {
            text-align: center;
            font-size: 4vw;
            margin: 1vw;
            padding: 2vw;
        }

        &__botones {
            margin-left: 20%;
        }

        &__botones1 {
            margin: 0rem;
            margin-right: 0px;
        }
    }

    .mapa {
        margin: auto;
        width: 35rem;
        height: 20rem;
    }

    /* productos */
    .productos__jabon {
        display: flex;
        flex-direction: column;

        img {
            width: 32rem;
            height: 20rem;
            border: $bordes;
        }

        p {
            width: 32rem;
            height: 20rem;
            font-size: 3vw;
            background-color: $backgran;
            margin-top: 10px;
            border: $bordes;
        }
    }


}


/* Movil */
@media (min-width:320px) and (max-width: 576px) {

    /* h1 y logo */
    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &__h1 {
            width: 50vw;
            height: 18vw;
            margin-right: 20px;
            padding: initial;
            font-size: 15vw;
        }

        &__img {
            width: 15vw;
            height: 18vw;
            margin-right: 10px;
        }
    }

    /* h2 */
    .titu {
        font-size: 9vw;
    }

    /* index */
    .carrusel-index {
        width: 50%;
        height: 5%;
        align-items: center;
        margin: 25vw;
        margin-top: 10vw;
        margin-bottom: 10vw;
        border: $bordes;

    }

    .texto__index {
        h3 {
            font-size: 6vw;
        }

        p {
            font-size: 3vw;
        }
    }

    /* productos */
    .jab1 {
        width: 70vw;
        height: 70vw;
        margin: auto;
        padding: 3vw;
        align-items: center;
    }

    .jab2 {
        width: 70vw;
        height: 70vw;
        margin: auto;
        padding: 3vw;
        align-items: center;
    }

    .jab3 {
        width: 70vw;
        height: 70vw;
        margin: auto;
        padding: 3vw;
        align-items: center;
    }

    /* ingredientes */

    .ingre__jabones {
        display: flex;
        flex-direction: column;
        margin: 30px;

        img {
            width: 90%;
            height: 90%;
        }

        p {
            width: 83%;
            height: 10%;
            font-size: 3vw;
            background-color: $backgran;
            margin-top: 10px;
        }
    }

    .info {
        display: flex;
        flex-direction: column;

        h3 {
            font-size: 7vw;
        }

        img {
            width: 90%;
            height: 90%;
            margin: auto;
            margin-left: 5%;

        }

        p {
            font-size: 3vw;
        }

        h4 {
            font-size: 5vw;
        }
    }

    .video {
        margin: 2vw;
        margin-left: 5vw;
        width: 90%;
        height: 90%;
    }

    footer {
        width: 50vw;
        height: 50vw;
        margin: auto;
        margin-top: 20px;

        .img-size {
            width: 22vw;
            height: 40vw;
            gap: 10vw;
        }

        p {
            font-size: 2.5vw;
        }

        img {
            width: 20vw;
            height: 20vw;
        }




    }

    /* Productos */
    .productos__jabon {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &__jab4 {
            width: 70vw;
            height: 70vw;
            margin: 10px;
            padding: 3vw;
            align-items: center;
        }

        &__jab5 {
            width: 70vw;
            height: 70vw;
            margin: auto;
            padding: 3vw;
            align-items: center;
        }

        &__jab6 {
            width: 70vw;
            height: 70vw;
            margin: auto;
            padding: 3vw;
            align-items: center;
        }

        &__jab7 {
            width: 30vw;
            height: 30vw;
            margin: auto;
            padding: 3vw;
            align-items: center;
        }

        img {
            height: 50%;
        }

        p {
            font-size: 3vw;
        }
    }

    /* promociones */
    .promo__jabon {
        display: flex;
        flex-direction: column;
        margin: 20%;

        p {
            font-size: 10px;
        }

        img {
            width: 200px;
        }



    }

    .animación1 {
        font-size: 2vw;
        margin: 2vw;
        padding: 1vw;

    }

    @keyframes efectoh2 {
        0% {
            color: indianred;
        }

        25% {
            color: mediumvioletred;
        }

        50% {
            color: maroon;
            transform: rotateX(25deg);
            font-size: 7vw;
        }

        75% {
            color: yellow;
        }

        100% {
            color: indianred;
        }


    }

    /* contacto */
    header {
        margin: 5px;

    }

    .contacto {
        margin: 5%;

        &__net {
            margin: 30px;
            margin-left: 7px;
            padding: 10px;
            font-size: 7vw;
        }

        &__imput {
            margin: 15px;
            font-size: 3vw;
            text-align: center;
        }

        .container-fluid {
            margin: auto;
            padding: 10px;
        }

        &__botones {
            margin: auto;
            padding: 1vw;
            text-align: center;
            font-size: 5vw;
            color: $texto-color;
            background-color: $backgran;
            margin-left: 25%;
        }

        &__botones1 {
            margin: auto;
            padding: 1vw;
            text-align: center;
            font-size: 5vw;
            color: $texto-color;
            background-color: $backgran;
        }

    }

    .mapa {
        margin: 2vw;
        margin-left: 5vw;
        width: 90%;
        height: 90%;
    }

}