/* Tablet */
@media (min-width: 577px) and (max-width: 991px) {
    body {
        background-color: $color-fondo;
    }

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &__h1 {
            width: 50vw;
            height: 18vw;
            margin-right: 20px;
            padding: initial;
            font-size: 15vw;
        }

        &__img {
            width: 15vw;
            height: 18vw;
            margin-right: 10px;
        }
    }

    .carrusel-index {
        width: 50%;
        height: 5%;
        align-items: center;
        margin: 25vw;
        margin-top: 10vw;
        margin-bottom: 10vw;
        border: 10px orangered solid;
    }
}





/* Movil */
@media (min-width:320px) and (max-width: 576px) {
    body {
        background-color: $color-fondo;
    }

    img {
        width: 100%;
        height: 100%;
    }


    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &__h1 {
            width: 50vw;
            height: 18vw;
            margin-right: 20px;
            padding: initial;
            font-size: 15vw;
        }

        &__img {
            width: 15vw;
            height: 18vw;
            margin-right: 10px;
        }
    }



    .titu {
        font-size: 6vw;
    }


    .carrusel-index {
        width: 50%;
        height: 5%;
        align-items: center;
        margin: 25vw;
        margin-top: 10vw;
        margin-bottom: 10vw;
        border: 10px orangered solid;
    }

    /* productos */
    .jab1 {
        width: 70vw;
        height: 70vw;
        margin: auto;
        padding: 3vw;
        align-items: center;
    }

    .jab2 {
        width: 70vw;
        height: 70vw;
        margin: auto;
        padding: 3vw;
        align-items: center;
    }

    .jab3 {
        width: 70vw;
        height: 70vw;
        margin: auto;
        padding: 3vw;
        align-items: center;
    }

    /* ingredientes */
    .ingre__jabones {
        display: flex;
        flex-direction: column;
        margin: 10px;
        p {
            width: 83%;
            height: 10%;
            font-size: 7vw;
        }
    }

    footer {
        width: 50vw;
        margin: auto;
        margin-top: 20px;
        color: orangered;
        
        
        
    }

    /* Productos */
    .productos__jabon {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &__jab4 {
            width: 70vw;
            height: 70vw;
            margin: 10px;
            padding: 3vw;
            align-items: center;
        }
        &__jab5 {
            width: 70vw;
            height: 70vw;
            margin: auto;
            padding: 3vw;
            align-items: center;
        }
        &__jab6 {
            width: 70vw;
            height: 70vw;
            margin: auto;
            padding: 3vw;
            align-items: center;
        }
        &__jab7 {
            width: 70vw;
            height: 70vw;
            margin: auto;
            padding: 3vw;
            align-items: center;
        }
        img {
            height: 70%;
        }
        p {
            font-size: 3vw;
        }
    }

    /* promociones */
    .promo__jabon {
        display: flex;
        flex-direction: column;
        margin: 20%;
        p {
            font-size: 10px;
        }
        img {
            width: 200px;
        }

        

    }
    .animación1 {
        font-size: 2vw;
        margin: 2vw;
        padding: 1vw;
       
    }

    @keyframes efectoh2 {
        0% {
            color: indianred;
        }

        25% {
            color: mediumvioletred;
        }

        50% {
            color: maroon;
            transform: rotateX(25deg);
            font-size: 7vw;
        }

        75% {
            color: yellow;
        }

        100% {
            color: indianred;
        }


    }
    
    /* contacto */
    .contacto {
        &__botones {
            margin: auto;
            padding: 1vw;
            text-align: center;
            font-size: 7vw;
            color: white;
            background-color: orangered;
            margin-left: 25%;
        }

        &__botones1 {
            margin: auto;
            padding: 1vw;
            text-align: center;
            font-size: 7vw;
            color: white;
            background-color: orangered;
        }
    }

}