.contacto {
    &__net {
        margin: 2rem;
        padding: 1rem;
        text-align: center;
        font-size: 2rem;
        color: $color-navhome;
        background-color: $backgran;
        width: 95%;
    }

    &__botones {
        margin: 2rem;
        padding: 1rem;
        text-align: center;
        font-size: 2rem;
        color: white;
        background-color: $backgran;

        margin-left: 40%;
    }

    &__botones1 {
        margin: 2rem;
        padding: 1rem;
        text-align: center;
        font-size: 2rem;
        color: white;
        background-color: $backgran;
        margin-right: 5px;
    }

}

.mapa {
    width: 70%;
    
    margin: 3rem;
    
    text-align: center;
    
    border: $bordes;
}