h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    color: $color-navhome;
    text-decoration: underline;
}
/* section {
    pre {
        width: 50%;
        font-family: cursive;
        font-size: 1,5rem;
        text-align: center;
        background-color: $backgran;
        color: $texto-color;
        margin: 10px;
    }
} */