main {
    margin: 0, 5rem;
}

.productos {
    &__jabon {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, 2fr);
        margin: 0.5rem;
        align-items: center;
    }

    &__jab4 {
        grid-column: 4/7;
        border: $bordes;
    }

    &__jab5 {
        grid-column: 7/10;
        grid-row: 2;
        border: $bordes;
    }

    &__jab6 {
        grid-column: 4/7;
        grid-row: 3;
        border: $bordes;
    }

    &__jab7 {
        grid-column: 7/10;
        grid-row: 4;
        border: $bordes;


    }


    &__jabon p {
        font-size: 1rem;
        text-align: justify;
        background-color: $backgran;
        color: $texto-color;
        margin: 9px;
    }
}

p:hover {
    background-color: $color-navhome;
}