.animación1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.5rem;
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    color:$color-navhome;
    text-decoration: underline;
    animation-name: efectoh2;
    animation-iteration-count: infinite;
    animation-duration: 5s;

}
@keyframes efectoh2 {
    0% {
        color: $color-navhome;
    }

    25% {
        color: rgb(92, 94, 194);
    }

    50% {
        color: rgb(126, 148, 65);
       /*  transform: rotateX(25deg); */
        font-size: 2rem;
    }

    75% {
        color: rgb(184, 184, 132);
    }

    100% {
        color:  $color-navhome;
    }
}

.promo {
    &__jabon {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
        margin: 8rem;
        align-items: start;
    }

    &__jabon img {
        width: 20%;
        height: 20%;
        border: $bordes;
    }

    &__jabones1 {
        grid-column: 1/2;
    }

    &__jabones2 {
        grid-column: 1/2;
        grid-row: 3;

    }

    &__jabones3 {
        grid-column: 1/2;
        grid-row: 2;

    }

    &__jabon p {
        display: inline-flex;
        font-size: 1,5rem;
        text-align: justify;
        background-color: $backgran;
        color: white;
        margin: 10px;
    }
}

p:hover {
    background-color: $color-navhome;
}